
*.depend
*.layout
*.mode*v3
*.pbxuser
*.app*
*.DS_*
._*.*
._*

.svn/
obj/
build/
!data/
xcuserdata/

ipch/
*.suo
*.opensdf
*.vcxproj.user

*.obj
*.tlog
*.sdf
*.pdb
*.idb
*.pch
Test_*/**/Debug/
Test_*/**/Release/
Test_*/**/bin/


*~.xml

#Visual Studio
.vs/
